.select2 {
width:100%!important;
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered  {
  color: #6e707e !important;
}


/* tambahan */
/* .sticky-header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff;
} */

/* class active override */
/* .sidebar .nav-item .collapse .collapse-inner .collapse-item.active,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item.active {
  color: #17a2b8; /* Override color to "info" color */
  /* color: #4e73df */
  /* font-weight: 700; */
/* }  */
