/* .glowing-pill {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 20px;
  background-color: #f5f5f5;
  color: #333;
  text-align: center;
  font-weight: bold;
  animation: glowing 2s ease-in-out infinite;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 5px #ff9800, 0 0 20px #ff9800;
  }
  50% {
    box-shadow: 0 0 20px #ff9800, 0 0 50px #ff9800;
  }
  100% {
    box-shadow: 0 0 5px #ff9800, 0 0 20px #ff9800;
  }
} */

.glowing-pill {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 20px;
  background-color: #c51f1f;
  color: #333;
  text-align: center;
  font-weight: bold;
  position: relative;
}
/* good color */
/* background-color: #c51f1f; */

/* .glowing-pill .glow {
  position: absolute;
  top: -5px;
  left: -5px; 
  right: -5px;
  bottom: -5px;
  border-radius: 30px;
  background-color: #b20d8e;
  opacity: 0;
  animation: glowing 2s ease-in-out infinite;
} */

@keyframes glowing {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

/* .look {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 20px;
  background-color: #c51f1f;
  color: #333;
  text-align: center;
  font-weight: bold;
  position: relative;
} */
